@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .inputs-login {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-login {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }


  @tailwind base;
@tailwind components;
@tailwind utilities;


.products img{
    height: 270px;
    width: 250px;
    padding: 1rem;
}
.products {
    display: flex;
    flex-wrap: wrap;
}

/* css for data */
.products {
    position: relative;
    overflow: hidden;
  }
  
  .products img {
    transition: transform 0.3s ease-in-out;
  }
  
  .products:hover img {
    transform: scale(1.1); /* Increase the image size on hover */
  }
  
  /* css for buttons */
  .button-order {
    position: relative;
    background-color: transparent;
    color: #e8e8e8;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button-order::before {
    content: "ORDER!";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(135deg,#7b4397,#dc2430 );
    transform: translate(0%,90%);
    z-index: 99;
    position: relative;
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button-order::after {
    content: "it's yours";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-origin: top;
    transform: translate(0%,-145%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button-order:hover::before {
    transform: translate(0%,0%);
  }
  
  .button-order:hover::after {
    transform: translate(0%,-200%);
  }
  
  .button-order:focus {
    outline: none;
  }
  
  .button-order:active {
    scale: 0.95;
  }
  
  
  